.result-container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 800px;
}

body.dark-mode .result-container {
  background-color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.exam-title {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 24px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

body.dark-mode .exam-title {
  color: #1a73e8;
  border-bottom-color: #1a73e8;
}

.result-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.restart-button:hover {
  background-color: #0056b3;
}

body.dark-mode .restart-button {
  background-color: #1a73e8;
}

body.dark-mode .restart-button:hover {
  background-color: #0a49b8;
}

.wrong-answer-section {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9; /* Light mode background */
  border-radius: 8px;
  text-align: left;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centering the answers */
}

.answer-item {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 1rem; /* Matching the font size */
}

.correct-answer {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.wrong-answer {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.toggle-container label {
  margin-right: 10px;
  font-size: 1rem;
}

/* Dark Mode Styles */
body.dark-mode .wrong-answer-section {
  background-color: #444444; /* Dark mode background */
  border-color: #555555; /* Dark mode border color */
}

body.dark-mode .correct-answer {
  background-color: #004400; /* Dark mode correct background */
  border-color: #00ff00; /* Dark mode correct border */
  color: #00ff00; /* Dark mode correct text color */
}

body.dark-mode .wrong-answer {
  background-color: #550000; /* Dark mode wrong background */
  border-color: #ff0000; /* Dark mode wrong border */
  color: #ff6666; /* Dark mode wrong text color */
}

body.dark-mode .answer-item {
  color: #ffffff; /* Default text color in dark mode */
}
